<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="d-block">
        <span class="d-block">{{article.label}}</span>
        <span class="label-expiry-date">{{article.expirydate}}</span>
      </div>
    </mat-panel-title>
    <mat-panel-description>
      {{article.amount}} Stk.
    </mat-panel-description>
  </mat-expansion-panel-header>
  <!-- TODO: add here article.amount and article.timestamp -->
  <mat-action-row>
    <button mat-icon-button color="warn" (click)="handleDeleteArticleClick(article.id)"><mat-icon>delete</mat-icon></button>
    <button mat-icon-button color="primary" (click)="openDialogClick(article)"><mat-icon>edit</mat-icon></button>
  </mat-action-row>
</mat-expansion-panel>