.mat-button-toggle {
  background-color: $primary-light;
  color: $white;
}

.mat-button-toggle-checked {
  background-color: $primary;
}

.mat-button-toggle-checked.mat-button-toggle-appearance-standard {
  color: $white;
}

.mat-button-toggle-group-appearance-standard {
  border: unset;
}

@media only screen and (max-width: $breakpoint-max-mobile) {
  .mat-button-toggle-label-content {
    font-size: 13px;
  }
}