.sort-buttons {
    display: block;
    margin: auto auto;
    align-items:center;
}

.add-button{
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 1;
}

@media only screen and (max-width: $breakpoint-max-mobile) {
  .add-button{
    position: fixed;
    right: 15px;
    bottom: 15px;
    z-index: 1;
  }
}

.list-container {
  margin-top: 10px;
  margin-bottom: 30px;
}

mat-list-option[aria-selected="true"] {
  text-decoration: line-through;
}

.item-list-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mat-pseudo-checkbox-checked, 
.mat-pseudo-checkbox-indeterminate, 
.mat-accent .mat-pseudo-checkbox-checked, 
.mat-accent .mat-pseudo-checkbox-indeterminate {
  background: $green;
}