.container {
  margin-top: 15px;
}

.logo-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
} 

.icon-right-spacer {
  margin-right: 12px;
}

.version-label {
  color: rgba(0, 0, 0, 0.54);
  padding-top: 50px;
  display: flex;
  justify-content: center;
  bottom: 15px;
}