.mat-drawer-container {
    height: 100vh;
}

.mat-drawer-inner-container {
    width: 33vw !important;
}

@media only screen and (max-width: $breakpoint-max-mobile) {
    .mat-drawer-inner-container {
        width: 50vw !important;
    }
}

.title-label {
    margin-left: 10px;
    font-size: 14px;
}