.mat-drawer-container {
  height: 100vh;
}

.mat-drawer-inner-container {
  width: 300px !important;
}

@media only screen and (max-width: $breakpoint-max-mobile) {
  .mat-drawer-inner-container {
    width: 70vw !important;
  }
}

.menu-spacer {
  flex: 1 1 auto;
}