<mat-accordion>  
  <mat-expansion-panel
    *ngFor="let article of articles"
  >
    <mat-expansion-panel-header>
      <mat-panel-title class="align-items-center">
        <ng-container *ngIf="article.expirystatus == 'good'">
          <mat-icon style="color:#00aa00;" class="mr-2">sentiment_satisfied_alt</mat-icon>
        </ng-container>
        <ng-container *ngIf="article.expirystatus == 'almostExpired'">
          <mat-icon style="color:#E0A800;" class="mr-2">sentiment_dissatisfied</mat-icon>
        </ng-container>
        <ng-container *ngIf="article.expirystatus == 'expired'">
          <mat-icon style="color:#f44336;" class="mr-2">sentiment_very_dissatisfied</mat-icon>
        </ng-container>
        <div class="d-block">
          <span class="d-block">{{article.label}}</span>
          <ng-container *ngIf="article.daysLeft > 1">
            <span class="label-subtitle">mind. {{article.daysLeft}} Tage haltbar</span>
          </ng-container>
          <ng-container *ngIf="article.daysLeft == 1">
            <span class="label-subtitle">mind. {{article.daysLeft}} Tag haltbar</span>
          </ng-container>
          <ng-container *ngIf="article.daysLeft == 0">
            <span class="label-subtitle">Läuft heute ab</span>
          </ng-container>
          <ng-container *ngIf="article.daysLeft < 0">
            <span class="label-subtitle">Abgelaufen</span>
          </ng-container>
        </div>
      </mat-panel-title>
      <mat-panel-description class="label-subtitle">
        {{article.amount}} Stk.
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="expansion-content">
          <!-- TODO: Umbauen -->
      <table id="article-table" class="table-width">
        <tr>
          <td><span>MHD:</span></td>
          <td class="table-data-float-right"><span>{{article.expirydate | date:'dd.MM.yyyy'}}</span></td>
        </tr>
        <tr>
          <td><span>Hinzugefügt am</span></td>
          <td class="table-data-float-right"><span>{{article.timestamp | date:'dd.MM.yyyy'}}</span></td>
        </tr>
      </table>
    </div>
    <mat-action-row>
      <button mat-icon-button color="warn" (click)="handleDeleteArticleClick(fridgeId, article.id)"><mat-icon>delete</mat-icon></button>
      <button mat-icon-button color="primary" (click)="openDialogClick(fridgeId, article)"><mat-icon>edit</mat-icon></button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>