<ng-container *ngIf="data.article !== null; else noDataTitle">
  <h2 mat-dialog-title>Artikel bearbeiten</h2>
</ng-container>
<ng-template #noDataTitle>
  <h2 mat-dialog-title>Artikel Hinzufügen</h2>
</ng-template>

<mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <input
          matInput
          placeholder="Artikelname"
          formControlName="label"
          type="text"
        >
        <mat-error *ngIf="form.controls.label.errors?.required">Artikelname ist erforderlich</mat-error>
        <mat-error *ngIf="form.controls.label.errors?.pattern">Bitte ausschließlich Buchstaben verwenden</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
        matInput
        placeholder="Menge"
        formControlName="amount"
        type="number"
      >
      <mat-error *ngIf="form.controls.amount.errors?.required">Menge ist erforderlich</mat-error>
      <mat-error *ngIf="form.controls.amount.errors?.pattern">Bitte positive Zahlen eingeben</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      formControlName="expiryDate"
      matInput 
      [matDatepicker]="picker"
      (click)="picker.open()"
      [min]="minDate"
      placeholder="MHD"
      onfocus="blur()"
      class="input-font-size-16"
    >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="handleCancelClick()">Abbrechen</button>
  <ng-container *ngIf="data.article !== null; else noDataButtons">
    <button
      mat-raised-button 
      [disabled]="form.controls['label'].value === data.article.label && form.controls['amount'].value === data.article.amount && form.controls['expiryDate'].value === data.article.expirydate"
      color="primary"
      type="submit"
      (click)="handleUpdateClick(data)"
    >
      Speichern
    </button>
  </ng-container>
</mat-dialog-actions>

<ng-template #noDataButtons>
  <button 
    mat-raised-button 
    [disabled]="!(form.controls.label.dirty && form.controls.amount.dirty)"
    color="primary" 
    type="submit" 
    (click)="handleAddClick()"
  >
    Hinzufügen
  </button>
</ng-template>