<mat-toolbar color="primary">
  <button 
    mat-icon-button 
    (click)="handleNavButtonClick()"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <ng-container *ngIf="getFirstUrlSegment$ | async as getFirstUrlSegment">
    <app-nav-bar-title [firstUrlSegment]="getFirstUrlSegment"></app-nav-bar-title>
  </ng-container>

  <span class="menu-spacer"></span>
  
  <ng-container *ngIf="fridgeId$ | async as fridgeId">
    <button mat-icon-button [matMenuTriggerFor]="optionsMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #optionsMenu="matMenu" class="options-menu">
      <button 
        mat-menu-item
        (click)="handleDeleteFridgeClick(fridgeId)"
      >
        Kühlschrank löschen
      </button>
    </mat-menu>
  </ng-container>

  <ng-container *ngIf="shoppinglistId$ | async as shoppinglistId">
    <button mat-icon-button [matMenuTriggerFor]="optionsMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #optionsMenu="matMenu" class="options-menu">
      <button 
        mat-menu-item
        (click)="handleDeleteShoppinglistClick(shoppinglistId)"
      >
        Einkaufsliste löschen
      </button>
    </mat-menu>
  </ng-container>

</mat-toolbar>