<ng-container *ngIf="getFirstUrlSegment$ | async as firstUrlSegment">
  <ng-container *ngIf="firstUrlSegment === 'fridges'">
    <h2 mat-dialog-title>Kühlschrank umbenennen</h2>
  </ng-container>
  <ng-container *ngIf="firstUrlSegment === 'shoppinglists'">
    <h2 mat-dialog-title>Einkaufsliste umbenennen</h2>
  </ng-container>

  <mat-dialog-content [formGroup]="form">
    <mat-form-field>
      <input 
        matInput
        placeholder="Name"
        formControlName="label"
      >
      <mat-error *ngIf="form.controls.label.errors?.required">Ein Name ist erforderlich</mat-error>
      <mat-error *ngIf="form.controls.label.errors?.pattern">Bitte ausschließlich Buchstaben verwenden</mat-error>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button (click)="handleCancelClick()">Abbrechen</button>
      <ng-container *ngIf="firstUrlSegment === 'fridges'">
        <button mat-raised-button color="primary" type="submit" (click)="handleUpdateFridgeClick(data)">Speichern</button>
      </ng-container>
      <ng-container *ngIf="firstUrlSegment === 'shoppinglists'">
        <button mat-raised-button color="primary" type="submit" (click)="handleUpdateShoppinglistClick(data)">Speichern</button>
      </ng-container>
  </mat-dialog-actions>
</ng-container>