<div class="d-flex">
  <mat-button-toggle-group name="fontStyle" class="sort-buttons">
    <mat-button-toggle [checked]="true" (click)="handleShowAll()">Alles</mat-button-toggle>
    <mat-button-toggle (click)="handleShowGoodArticles()">Sind gut</mat-button-toggle>
    <mat-button-toggle (click)="handleShowAlmostExpired()">Fast abgelaufen</mat-button-toggle>
    <mat-button-toggle (click)="handleShowExpired()">Abgelaufen</mat-button-toggle>
  </mat-button-toggle-group>
</div>

<div class="list-container">
  <ng-container *ngIf="articles$ | async as articles">
    <ng-container *ngIf="articles?.length > 0; else noArticles">
      <ng-container *ngIf="fridgeId$ | async as fridgeId">
        <app-article-list-item 
          [articles]="articles"
          [fridgeId]="fridgeId"
        >
        </app-article-list-item>
      </ng-container>
    </ng-container>
  </ng-container>
  
  <div class="add-button">
    <button mat-fab color="primary" (click)="handleOpenDialogClick()">
      <mat-icon class="icon">add</mat-icon>
    </button>
  </div>
</div>

<ng-template #noArticles>
  <mat-card>
    <p>Keine Artikel hinzugefügt</p>
  </mat-card>
</ng-template>