<h2 mat-dialog-title>Artikel bearbeiten</h2>

<mat-dialog-content [formGroup]="form">
  
    <mat-form-field>
        <input 
          matInput
          placeholder="Artikelname"
          formControlName="label"
        >
        <mat-error *ngIf="form.controls.label.errors?.required">Artikelname ist erforderlich</mat-error>
        <mat-error *ngIf="form.controls.label.errors?.pattern">Bitte ausschließlich Buchstaben verwenden</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input 
        matInput
        placeholder="Menge"
        formControlName="amount"
        type="number"
      >
      <mat-error *ngIf="form.controls.amount.errors?.required">Menge ist erforderlich</mat-error>
      <mat-error *ngIf="form.controls.amount.errors?.pattern">Bitte positive Zahlen eingeben</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input 
      matInput
      placeholder="MHD"
      formControlName="expiryDate"
      type="date"
    >
    <mat-error *ngIf="form.controls.expiryDate.errors?.required">MHD ist erforderlich</mat-error>
  </mat-form-field>
 
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Abbrechen</button>
  <button mat-raised-button color="primary" type="submit" (click)="handleUpdateClick(data)">Speichern</button>
</mat-dialog-actions>