<h2 mat-dialog-title>Artikel Hinzufügen</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input 
      matInput
      placeholder="Artikelname"
      formControlName="label"
      type="text"
      autocomplete="off"
    >
    <mat-error *ngIf="form.controls.label.errors?.required">Artikelname ist erforderlich</mat-error>
    <mat-error *ngIf="form.controls.label.errors?.pattern">Bitte ausschließlich Buchstaben verwenden</mat-error>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-button 
    [disabled]="!form.dirty" 
    color="primary" 
    (click)="handleAddClick()"
  >
    Weitere hinzufügen
  </button>
  <button 
    mat-raised-button
    [disabled]="!form.dirty" 
    color="primary" 
    (click)="handleAddAndCancelClick()"
  >
    Fertig
  </button>
</mat-dialog-actions>