<div class="container">
  <div class="button-row-right">
    <button mat-raised-button #buttonAddItemToFridge color="primary" (click)="handleOpenAddItemsToFrigdeDialogClick()">Zum Kühlschrank hinzufügen</button>
  </div>

  <div class="list-container">
    <mat-card>
      <ng-container *ngIf="items$ | async as items">
        <mat-selection-list 
          #itemList 
          *ngIf="items?.length > 0; else noItems"
          (selectionChange)="onSelectionChange()"
        >
          <ng-container *ngIf="shoppinglistId$ | async as shoppinglistId">
            <app-item-list-item *ngFor="let item of items" [item]="item" [shoppinglistId]="shoppinglistId">
            </app-item-list-item>
          </ng-container>
        </mat-selection-list>
      </ng-container>
    </mat-card>
    <div class="add-button">
      <button mat-fab color="primary" (click)="handleOpenDialogClick()">
        <mat-icon class="icon">add</mat-icon>
      </button>
    </div>
  </div>
</div>

<ng-template #noItems>
  <p>Keine Artikel hinzugefügt</p>
</ng-template>