<div data-overlay class="d-flex flex-column justify-content-md-center o-hidden">
  <section class="py-3">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-4 col-lg-5 col-md-6 mb-5 mb-md-0">

          <mat-card>
            <h1 class="h5 text-center">Registrierung</h1>
            <div class="text-center text-small mb-4">
              Sie haben bereits einen Account? <br>
              <button mat-button color="primary" (click)="handleGoToLoginClick()">Hier einloggen</button>
            </div>

            <form [formGroup]="form" (ngSubmit)="handleSignUpClick()" #ngForm="ngForm" novalidate>
              <mat-form-field>
                <input 
                  matInput 
                  type="email" 
                  placeholder="Email-Adresse" 
                  formControlName="emailAddress"
                >
                <mat-error *ngIf="form.controls.emailAddress.errors?.required">E-Mail ist erforderlich</mat-error>
                <mat-error *ngIf="form.controls.emailAddress.errors?.pattern">E-Mail ist ungültig</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input 
                  matInput
                  type="text"
                  placeholder="Username" 
                  formControlName="userName"
                >
                <mat-error *ngIf="form.controls.userName.errors?.required">Username ist erforderlich</mat-error>
                <mat-error *ngIf="form.controls.userName.errors?.pattern">Bitte nur Buchstaben und Zahlen ohne Leerzeichen</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input 
                  matInput
                  type="password"
                  placeholder="Passwort" 
                  formControlName="password"
                  [type]="hidePasswort ? 'password' : 'text'"
                >
                <button mat-icon-button matSuffix (click)="hidePasswort = !hidePasswort" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePasswort">
                  <mat-icon>{{hidePasswort ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="form.controls.password.errors?.required">Passwort ist erforderlich</mat-error>
                <mat-error *ngIf="form.controls.password.errors?.minlength">Passwort muss mindestens 8 Zeichen lang sein</mat-error>
                <mat-error *ngIf="!form.controls.password.errors?.minlength && form.controls.password.errors?.pattern"> Passwort muss mindestens einen Großbuchstaben, einen Kleinbuchstaben, ein Sonderzeichen und eine Zahl enthalten</mat-error>
              </mat-form-field>
              <mat-form-field>
                <input 
                  matInput 
                  type="password" 
                  placeholder="Passwort bestätigen" 
                  formControlName="passwordConfirmation"
                  [type]="hidePasswordConfirmation ? 'password' : 'text'"
                >
                <button mat-icon-button matSuffix (click)="hidePasswordConfirmation = !hidePasswordConfirmation" [attr.aria-label]="'Hide password confirmation'" [attr.aria-pressed]="hidePasswordConfirmation">
                  <mat-icon>{{hidePasswordConfirmation ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error *ngIf="form.controls.passwordConfirmation.errors?.required">Passwortbestätigung ist erforderlich</mat-error>
                <mat-error *ngIf="form.controls.passwordConfirmation.errors?.mismatchedPasswords && !form.controls.passwordConfirmation.errors?.required">Passwörter stimmen nicht überein</mat-error>
              </mat-form-field>

              <div class="button-row-right">
                <button
                  mat-raised-button
                  color="primary"
                  type="submit"
                  [disabled]="!(form.controls.emailAddress.dirty && form.controls.userName.dirty && form.controls.password.dirty && form.controls.passwordConfirmation.dirty)"
                >
                  Registrieren
                </button>
              </div>
            </form>

          </mat-card>
          
        </div>
      </div>
    </div>
  </section>
</div>